body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  p {
    color: #333;
    font-size: 18px;
  }
  